
* {
	font-family: sans-serif;
}

.noselect {
	user-select: none;
}

#body {
	font-size: 12px;
	background-color: #eee;
}

#header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	text-align: center;
}

#user {
	display:inline-block;
	width: 160px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 1.5rem;
	padding: 10px;
}
#board-container {
	position: absolute;
	top: 50px;
	bottom: 50px;
	left: 20px;
	right: 20px;
	border: 10px inset #A47A45;
	border-radius: 4px;
	background-color: #e1ceb7;
	overflow-y: auto;
	box-shadow: 2px 2px 3px 1px #333, inset 2px 2px 3px 1px #333;
	margin: 5px auto;
}
#board {
	padding: 10px;
}

#body .card {
	background-color: #fde602;
/* 	box-shadow: 0 2px 5px 2px gray; */
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
	max-height: 370px;
	width: 270px;
}
#body .card:hover {
	box-shadow: 0 8px 12px 0 rgba(0,0,0,0.5);
}

#body .card * {
	font: 20px 'Cookie', Helvetica, sans-serif;
	text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
	padding: 5px;
}

#body .card input {
	background-color: transparent;
	border: none;
}

#body .card .card-title {
	font-size: 24px;
	padding: 5px;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#body #newTaskDialog .card .card-title {
	text-align: left;
}

#body .card .card-text {
	resize: none;
	height: 220px;
	max-height: 220px;
	overflow: auto;
	padding: 5px;
	background-color: transparent;
	border: none;
}

#body .card .card-text.task-done {
	height: 200px;
	max-height: 200px;
}

#body .card .list-group-item {
	background: transparent;
	padding: 5px;
}

#body .card .delete,
#body .card .cancel {
	float: right;
}

#body .card input:focus,
#body .card textarea:focus {
	background-color: #fdf168;
	border-color: transparent;
}

#body .card .card-title:disabled,
#body .card .card-text:disabled {
	color: black;
}

#body .card .date-label {
	width: 40px;
}

#body .card .date-value {
	width: calc(100% - 54px);
}

#footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
	padding-top: 5px;
}

#logoutLink {
	float: right;
}

#new-task-container {
	position: relative;
}